easy_admin:
    site_name: '%app_name%'
    #disabled_actions: ['new']
    entities:
        Word:
            class: App\Entity\Word
            list:
                fields:
                    - id
                    - createdAt
                    - post
                    - inTamazight
                    - inArabic
                    #- description
                    - { property: 'imageName', label: 'Image', type: 'image', base_path: '/images/posts/' }
                    - question
                    - user
                    - comments
            show:
                fields:
                    - post
                    - description
            form:
                fields: ['post', 'inTamazight', 'inArabic', 'description', 'question']
        Expression:
            class: App\Entity\Expression
            list:
                fields:
                    - id
                    - createdAt
                    - post
                    #- description
                    - { property: 'imageName', label: 'Image', type: 'image', base_path: '/images/posts/' }
                    - question
                    - user
                    - comments
                form:
                    fields: ['post', 'description', 'question']
        Proverb:
            class: App\Entity\Proverb
            list:
                fields:
                    - id
                    - createdAt
                    - post
                    #- description
                    - { property: 'imageName', label: 'Image', type: 'image', base_path: '/images/posts/' }
                    - question
                    - user
                    - comments
            form:
                fields: ['post', 'description', 'question']
        Joke:
            class: App\Entity\Joke
            list:
                fields:
                    - id
                    - createdAt
                    - post
                    - user
                    - comments
            form:
                fields: ['post', 'description']
        Comment:
            class: App\Entity\Comment
            list:
                fields:
                    - id
                    - { property: 'word', label: 'Word' }
                    - expression
                    - proverb
                    - joke
                    - message
                    - user
            form:
                fields: ['message']
        User:
            class: App\Entity\User
            list:
                fields:
                    - id
                    - createdAt
                    - username
                    - email
                    - roles
                    - { property: 'avatarName', label: 'Image', type: 'image', base_path: '/images/profiles/' }
            form:
                fields: ['username', 'email', 'roles', 'avatarName']
        Page:
            class: App\Entity\Page
            form:
                fields: ['title', 'alias', 'description', 'embedded']

        Deleted:
            class: App\Entity\Deleted
            list:
                fields: ['createdAt', 'updatedAt', 'post', 'description', 'userId', 'username']
