
<!--
<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
-->


<fb:login-button
        scope="public_profile,email"
        onlogin="checkLoginState();"
        class="fb-login-button"
        data-width="" data-size="large" data-button-type="login_with" data-use-continue-as="false"
>
    Se connecter avec Facebook
</fb:login-button>