{% set owner = almrsk | split('\\') | last | lower %}

<a href="#" title="{{ 'label.likes' | trans }}" class="js_almrsk-like" data-id="{{ almrsk.id }}" data-owner="{{ owner }}">
    <i class="fa fa-thumbs-up"></i>
    {{ 'label.likes' | trans }}
</a>