<form class="form-inline mt-2 mt-md-0 d-inline" method="get" action="{{ path('post_search') }}">
    <div class="input-group">
        <label for="terme">
            <input type="hidden" id="domaine" name="domaine" required value="{{ domain }}">
            <input class="form-control px-4" type="search" id="terme" name="terme" placeholder="Recherche..." required pattern=".{3,}" title="3 chars minimum" autocomplete="false" value="{{ app.request.get('terme') }}">
        </label>

        <!--
        <span class="input-group-append">
            <button class="btn btn-outline-secondary border-left-0 border" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
        -->
    </div>
</form>