body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: #003366 url(../images/bg-corail.jpg) no-repeat bottom;
    background-size: contain;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

main {
    min-height: 80rem;
    padding: 20px 0;
    margin-top: 60px;
}


h1 {
    font-family: 'Chelsea Market', cursive;
}


.almrsk-post h1 {
    font-size: 1.7rem;
}
.almrsk-post h2 {
    font-size: 1.5rem;
}
.almrsk-post h3 {
    font-size: 1.1rem;
}

.bubbles {
    display: inline-block;
    font-family: arial, sans-serif;
    position: relative;
}
.bubbles h1 {
    margin: .5em 0 0;
}

.individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: #fff;
    z-index: 1;
}

a.light {
    color: #e6d845;
}
a.light:hover {
    color: #baac3d;
}
a.footer {
    color: #ffffff;
}
a.footer:hover {
    background: #baac3d;
    padding: 3px 5px;
    border-radius: 20px;
    text-decoration: none;
}
a.light:hover {
    color: #baac3d;
}
a, a:hover {
    color: #003366;
}

.navbar {
    background: #87CEEB;
}

.navbar::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #003366 13px);
    animation: animate 25s linear infinite;
}
.navbar::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 7px;
    background-size: 20px 10px;
    background-image: radial-gradient(circle at 10px 15px, #003366 12px, transparent 13px);
    animation: animate 25s linear infinite;
}

.nav-item {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid transparent;
    border-right: 1px solid #75bbd7;
    padding: 5px 15px;
}

.nav-item:hover,
.nav-item.current {
    background: #75bbd7 !important;
}

.nav-item:last-child {
    border: 0;
}

.navbar-nav a.nav-link {
    color: #003366 !important;
    letter-spacing: 1px;
    padding: 0 !important;
    text-transform: capitalize !important;
}

.user-cont i {
    font-size: 26px;
}

.btn-primary {
    background: #003366;
    border: none;
}
.btn-primary:hover {
    background: #003366;
}

.text-happy {
    color: #e6d845;
}
.bg-happy {
    background-color: #e6d845;
}

.btn-happy,
.fos_comment_submit input,
.fos_comment_comment_remove,
.fos_comment_comment_edit_show_form,
.fos_comment_comment_edit_cancel,
.pagination a {
    color: #333;
    background-color: #e6d845;
    border-color: #e6d845;
    font-weight: bold;
}

.btn-happy:hover,
.fos_comment_submit input:hover,
.fos_comment_comment_remove:hover,
.fos_comment_comment_edit_show_form:hover,
.fos_comment_comment_edit_cancel:hover,
.pagination a:hover {
    background-color: #e6d845;
}
.fos_comment_submit {
    margin-top: 10px;
    text-align: right;
}
.pagination {
    text-align: center;
    display: block;
}

.pagination .current {
    background: #ccc;
}

.fos_comment_submit input,
.fos_comment_comment_remove,
.fos_comment_comment_edit_show_form,
.fos_comment_comment_edit_cancel,
.pagination a,
.pagination .current,
.custom-file-input {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.fos_comment_comment_metas {
    margin-bottom: 10px;
}

.custom-file-label { opacity: 0; }
.custom-file-input { opacity: 1; }

.almrsk-submission {
    background: #e6d845;
}

.vich-image img {
    width: 128px;
}
.card {
    border: 0;
}

.almrsk-submission .card-body {
    z-index: 1;
}
.sealife-img {
    position: absolute;
    right: -50px;
}
.fos_comment_comment_reply {
    display: none;
}
.fos_comment_comment_show {
    border-bottom: 1px solid #666666;
    margin: 10px 0 10px 0;
    padding-bottom: 10px;
}
.fos_comment_comment_form_holder {
    margin-bottom: 40px;
}
.post-form-layer {
    position: absolute;
    z-index: 3;
    background: rgba(0, 0, 0, .4);
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}
.post-form-layer > p {
    text-align: center;
    margin-top: 120px;
    font-weight: bold;
    padding: 10px 0 10px;
    color: #333;
}

.fixed-card .card {
    height: 400px;
    overflow: auto;
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

    .main-footer .col-md-4 {
        border-right: 1px solid #ffffff;
    }
    .main-footer .col-md-4:last-child {
        border: 0
    }
}

@media only screen and (min-width : 320px) and (max-width : 1024px) {

}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .start-page h1 {
        font-size: 20px !important;
    }

    .start-page .w-50 {
        width: 100% !important;
    }

    .start-page h2 {
        font-size: 16px !important;
        margin-top: -10px !important;
    }
    .nav-item {
        border-right: 0;
        text-align: left;
    }
    .user-cont {
        border-top: 1px solid #fff;
        padding: 10px 0;
        text-align: center;
    }
}


@media only screen and (min-width : 480px) and (max-width : 768px) {

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

}

/*b0b04d
@media screen
and (min-width: 1200px)
and (max-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
    .jumbotron { background-position-x: 510px}
}
*/

/* Smartphones (portrait and landscape) ----------- */
/*
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .jumbotron { background-position-x: -400px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
    .jumbotron { background-position-x: -150px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .jumbotron { background-position-x: -50px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
*/

