body {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    min-height: 80rem;
    padding: 20px 0;
    margin-top: 60px;
}

.start-page h1 {
    visibility: hidden;
}
h1 {
    font-size: 1.2rem;
    font-weight: bold;
}
h2 {
    font-size: 1rem;
}
h3 {
    font-size: 0.8rem;
}

.bubbles {
    display: inline-block;
    position: relative;
}
.bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 20px;
    background-color: #ffffff;
    z-index: 1;
}

a.light {
    color: #e6d845;
}
a.light:hover {
    color: #baac3d;
}
a.footer {
    color: #ffffff;
}
a.footer:hover {
    background: #baac3d;
    padding: 3px 5px;
    border-radius: .25rem;
    text-decoration: none;
}
a.light:hover {
    color: #baac3d;
}
a, a:hover {
    color: #00669e;
}

.navbar {
    background: #87ceeb;
    /*
    background: #87CEEB url(../images/bg-sky.jpg) no-repeat;
    background-size: contain;
     */
}

fieldset.form-group {
     background: #ffffff;
     padding: 10px;
    border-radius: .25rem;
    margin-top: 30px;
}

fieldset.form-group legend {
    background: #dee2e6;
    padding: 5px 10px;
}

#journal > .form-group {
    margin-bottom: 0;
}

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color:#666666; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
}

.navbar::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #001a33 13px);
    animation: animate 25s linear infinite;
}
.navbar::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 7px;
    background-size: 20px 10px;
    background-image: radial-gradient(circle at 10px 15px, #001a33 12px, transparent 13px);
    animation: animate 25s linear infinite;
}

.nav-item {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid transparent;
    border-right: 1px solid #75bbd7;
    padding: 5px 15px;
}

.nav-item:hover,
.nav-item.current {
    background: #75bbd7 !important;
}

.nav-item:last-child {
    border: 0;
}

.navbar-nav a.nav-link {
    color: #001a33 !important;
    letter-spacing: 1px;
    padding: 0 !important;
    text-transform: capitalize !important;
}

#terme {
    border-radius: .25rem 0 0 .25rem;
}

.user-cont i {
    font-size: 26px;
}

.btn-primary {
    background: #00669e;
    border: none;
}
.btn-primary:hover {
    background: #87ceeb;
}

.text-happy {
    color: #e6d845;
}
.bg-happy {
    background-color: #e6d845;
}
.bg-sky {
    background-color: #87ceeb;
}
.text-sky {
    color: #87ceeb;
}

.btn-happy,
.pagination a {
    color: #333;
    background-color: #e6d845;
    border-color: #e6d845;
    font-weight: bold;
}

.btn-happy:hover,
.pagination a:hover {
    background-color: #e6d845;
}
.pagination {
    text-align: center;
    display: block;
}

.pagination .current {
    background: #ccc;
}

.pagination a,
.pagination .current,
.custom-file-input {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-file-label { opacity: 0; }
.custom-file-input { opacity: 1; }

.almrsk-post .form-group {
    border-radius: .25rem;
    background: #ffffff;
    padding: 10px;
}

.almrsk-form-question {
    background: #dee2e6;
    padding: 10px;
    border-radius: .25rem;
}
/*
.list-comments li {
    pointer-events: none;
}
.list-comments li button, .list-comments li a {
    pointer-events: auto;
}
*/

.list-comments li:hover {
    background-color: #eeeeee;
}
.comment-form .form-group:nth-child(3) {
    text-align: right;
}

.vich-image img {
    width: 128px;
}
.card {
    border: 0;
}
.fos_comment_comment_reply {
    display: none;
}
.post-form-layer {
    position: absolute;
    z-index: 3;
    background: rgba(0, 0, 0, .4);
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}
.post-form-layer > p {
    margin-top: 130px;
}

.fixed-card {
    height: 400px;
    overflow: auto;
    margin-bottom: 1rem;
}

.fixed-card-2 {
    height: 210px !important;
}

.card-transparent {
    background-color: rgba(255, 255, 255, .7);
}

.jumbotron {
    background-color: transparent;
    height: 550px;
    text-align: center;
}

.jumbotron.done {
    display: none;
}

#mot_question {
    width: 25px;
    height: 25px;
    margin: 0 10px 10px -20px;
}
.almrsk-form-question label {
    margin-left: 10px;
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

    body {
        background: #001a33 url(../images/deep-sea2.jpg) no-repeat fixed;
        background-size: cover;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1rem;
    }

    .main-footer .col-md-4 {
        border-right: 1px solid #ffffff;
    }
    .main-footer .col-md-4:last-child {
        border: 0
    }

    .posts-h {
        text-align: left;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1024px) {
    .nav-item {
        border-right: 0;
        text-align: left;
    }
    .user-cont {
        border-top: 1px solid #fff;
        padding: 10px 0;
        text-align: center;
    }

    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: #001a33 url(../images/deep-sea.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    /*
    body.cp:before {
        background-position-x: -400px;
        background-position-y: 0;
    }

     */
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width : 320px) and (max-width : 480px) {

}


@media only screen and (min-width : 480px) and (max-width : 768px) {

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

}

/*b0b04d
@media screen
and (min-width: 1200px)
and (max-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
    .jumbotron { background-position-x: 510px}
}
*/

/* Smartphones (portrait and landscape) ----------- */
/*
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .jumbotron { background-position-x: -400px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
    .jumbotron { background-position-x: -150px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .jumbotron { background-position-x: -50px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
*/

