{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ 'security.login.submit'|trans }} - {{ parent() }}
{% endblock %}

{% block fos_user_content %}

    <h1 class="text-center">{{ 'layout.register' | trans }}</h1>
    <p>Inscris-toi pour pouvoir ajouter des publications ou interagir avec celles des autres.</p>

    {{ form(form) }}

{% endblock %}