{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ 'title.welcome'|trans }}
{% endblock %}

{% block body %}

    <div class="start-page">
            <h1>ALAMOURISKAAAAAAAAAA !!!</h1>
            <h2>Le cri pour sauvegarder le language algérien !</h2>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
            </div>
        </div>

    </div>

{% endblock %}
