{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ 'title.welcome'|trans }}
{% endblock %}

{% block body %}

    <div class="container start-page">
        <div class="row mb-3">
            <div class="my-item d-flex flex-column flex-md-row">
                <p class="mb-3 mr-md-3 w-50 text-center">
                    <img src="{{ asset('images/plongeon.jpg') }}" class="rounded-circle img-thumbnail" alt="">
                </p>

                <div class="p-1">
                    <h1>ALAMOURISKAAAAAAAAAA !!!</h1>
                    <h2>Le cri pour sauvegarder la langue algérienne !</h2>
                    <p class="pl-2">
                        Alamouriska est une appplication publique créée dans le but de sauvegarder le langage des algériens.
                        <br>
                        De simple mots, des locutions, citations ou proverbes, nous voulons préserver
                        le patrimoine linguistique algérien, tel qu'il s'est naturellement développé à travers les siecles,
                        et en constituer une base de données pour le savoir ou la recherche. Et même le rire. C'est un
                        projet sérieux, même s'il se veut leger et bon enfant.
                        <br><br>
                        IMPORTANT: même si une page facebook de l'application existe, nous souhaitons les commentaires écris
                        dans l'objectif d'expliquer ou d'éclairer certains usage de langue soient faits ici, car une page ou
                        un groupe facebook peut disparaitre ou ếtre fermé à tout moment.
                        <a href="/kesako" class="light">En savoir plus</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="card text-dark">
                    <p class="card-header">
                        Les plus récentes
                    </p>

                    <div class="card-body">
                        body
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card text-dark">
                    <p class="card-header">
                        Les plus commentés
                    </p>

                    <div class="card-body">
                        body
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-dark">
                    <p class="card-header">
                        Les plus enigmatiques
                    </p>

                    <div class="card-body">
                        body
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
