{% extends 'base.html.twig' %}

{% block title %}Edit Locution{% endblock %}

{% block body %}
    <h1>Edit Locution</h1>

    {{ include('locution/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('locution_index') }}">back to list</a>

    {{ include('locution/_delete_form.html.twig') }}
{% endblock %}
