{% extends 'base.html.twig' %}

{% block title %}New Locution{% endblock %}

{% block body %}
    <h1>Create new Locution</h1>

    {{ include('locution/_form.html.twig') }}

    <a href="{{ path('locution_index') }}">back to list</a>
{% endblock %}
