<h3>Bonjour {{ post.user.username }},</h3>

<p>Un commentaire a été ajouté à ta publication</p>
<p><a href="{{ post_url }}">Clique ici pour acceder à la page</a></p>
<p>A bientôt,<br>{{ app_name }}</p>