{% extends 'base.html.twig' %}

{% set term = app.request.get('terme') %}

{% block title %}
    {{ 'label.almrsk.search_h1' | trans({'%term%' : term }) }} -
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container mb-4">
        <div class="bubbles">
            <h1>{{ 'label.almrsk.search_h1' | trans({'%term%' : term }) }}</h1>
        </div>
    </div>

    <div class="container">
        <div class="row text-dark">
            <div class="col-sm">{% include 'partials/post_list.html.twig' with {'posts': words | default(null), 'header': 'label.words' | trans, 'domain': 'mots', 'search': true } only %}</div>
            <div class="col-sm">{% include 'partials/post_list.html.twig' with {'posts': expressions | default(null), 'header': 'label.expressions' | trans, 'domain': 'expressions', 'search': true } only %}</div>
            <div class="col-sm">{% include 'partials/post_list.html.twig' with {'posts': proverbs | default(null), 'header': 'label.proverbs' | trans, 'domain': 'proverbes', 'search': true } only %}</div>
            <div class="col-sm">{% include 'partials/post_list.html.twig' with {'posts': jokes | default(null), 'header': 'label.jokes' | trans, 'domain': 'blagues', 'search': true } only %}</div>
        </div>
    </div>

{% endblock %}