{% extends 'base.html.twig' %}

{% set term = app.request.get('terme') %}

{% block title %}
    {{ 'label.almrsk.search_h1' | trans({'%term%' : term }) }} -
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container mb-4">
        <div class="bubbles">
            <h1>{{ 'label.almrsk.search_h1' | trans({'%term%' : term }) }}</h1>
        </div>
    </div>

    <div class="container">
        <div class="row text-dark">
            {%  include 'partials/post_list.html.twig' with {'posts': mots | default(null), 'header': 'label.words' | trans, search: 'mots' } only %}
            {%  include 'partials/post_list.html.twig' with {'posts': locutions | default(null), 'header': 'label.locutions' | trans, search: 'locutions' } only %}
            {%  include 'partials/post_list.html.twig' with {'posts': proverbes | default(null), 'header': 'label.proverbs' | trans, search: 'proverbes' } only %}
            {%  include 'partials/post_list.html.twig' with {'posts': citations | default(null), 'header': 'label.quotes' | trans, search: 'locutions' } only %}
        </div>
    </div>

{% endblock %}