{% extends 'base.html.twig' %}

{% set term = app.request.get('terme') %}

{% block title %}
    {{ 'label.almrsk.search_h1' | trans({'%term%' : term }) }} -
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container mb-4">
        <div class="bubbles">
            <h1>{{ 'label.almrsk.search_h1' | trans({'%term%' : term }) }}</h1>
        </div>
    </div>

    <div class="container fixed-card">
        <div class="row text-dark">
            {%  include 'partials/post_list.html.twig' with {'posts': mots, 'route': 'post_mot_show', 'header': 'label.words' | trans, search: 'post_mot_index' } only %}
            {%  include 'partials/post_list.html.twig' with {'posts': locutions, 'route': 'post_locution_show', 'header': 'label.locutions' | trans, search: 'post_locution_index' } only %}
            {%  include 'partials/post_list.html.twig' with {'posts': proverbes, 'route': 'post_proverbe_show', 'header': 'label.proverbs' | trans, search: 'post_proverbe_index' } only %}
            {%  include 'partials/post_list.html.twig' with {'posts': citations, 'route': 'post_citation_show', 'header': 'label.quotes' | trans, search: 'post_citation_index' } only %}
        </div>
    </div>

{% endblock %}